<h3>Logged in as:</h3>
<p><%= @user.email %></p>
<%= form_tag "/punches", method: :post do %>
  <%= select_tag :event_type, options_for_select(["Punch In", "Punch Out"]), include_blank: "Select..." %>
  <%= submit_tag "Stamp Card" %>
<% end %>
<ul>
  <% @punches.each do |punch| %>
  	<li><%= punch.event_type %> at <%= local_time(punch.created_at) %></li>
  <% end %>
</ul>