<!DOCTYPE html>
<html>
<head>
	<title>TimeCardApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<!-- handles user login status messages -->
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<% if flash[:punch_message] %>
			<div class="alert alert-info alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong><%= flash[:punch_message] %></strong>
			</div>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>
